# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# macOS
.DS_Store

# Jupyter / editor
.ipynb_checkpoints/

# Environment files
.env

# Generated artifacts
artifacts/*.joblib
artifacts/*.csv
